app = 'My awesome app'
domain = 'example.com'
email = 'noreply@example.com'
debug = 'false'

BETA_SITE = 'beta.example.com'
BETA_SECRET = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'

REDISCLI_HOST = 'redis.example.com'
REDISCLI_PORT = '12345'
REDISCLI_AUTH = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
REDISCLI_DB = 'kwerc'

XMPP_HOST = 'chat.example.com'
XMPP_PORT = '5443'
XMPP_USER = 'chatadmin'
XMPP_PASSWORD = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'

HCAPTCHA_SITEKEY = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
HCAPTCHA_SECRET = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'

STRIPE_KEY = 'sk_live_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'

DISCORD_WEBHOOK = 'https://discord.com/api/webhooks/000000000000000000/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
DISCORD_WEBHOOK_PICS = 'https://discord.com/api/webhooks/000000000000000000/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'

SPAMDOMAINS = -e '@example.com$' \
                 '@example.net$'

PROFANITY = -e '\(^\|[^a-z]\)darn\($\|[^a-z]\)' \
            -e '\(^\|[^a-z]\)dang\($\|[^a-z]\)'
